In [25]:
import pandas as pd
import numpy as np
import nltk
import random

from nltk import word_tokenize

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\adhri\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
df = pd.read_csv("bbc_text_cls.csv")
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [6]:
# populate word2idx
idx = 0
word2idx = {}
# will contain the index of each word in each document.
tokenized_docs = []

for doc in df['text']:
    words = word_tokenize(doc.lower())
    doc_as_int = []

    for word in words:
        if word not in word2idx:
            word2idx[word] = idx
            idx+=1

        #appending the index of the word in the document
        doc_as_int.append(word2idx[word])
    tokenized_docs.append(doc_as_int)

In [12]:
# reverse mapping
idx2word = {v:k for k,v in word2idx.items()}

In [13]:
# no of documents
N = len(df['text'])
v = len(word2idx)

In [14]:
tf = np.zeros((N,v))

In [15]:
# looping through ith(row) document
for i, doc_as_int in enumerate(tokenized_docs):
    # looping through jth (column) index of the word in ith document 
    for j in doc_as_int:
        tf[i,j]+=1

In [21]:
document_freq = np.sum(tf>0,axis=0)
idf = np.log(N/document_freq)

(34762,)

In [27]:
tf_idf = tf*idf

In [28]:
# pick a random document, show the top 5 terms (in terms of tf_idf score)
i = np.random.choice(N)
row = df.iloc[i]
print("Label:", row['labels'])
print("Text:", row['text'].split("\n", 1)[0])
print("Top 5 terms:")

scores = tf_idf[i]
indices = (-scores).argsort()

for j in indices[:5]:
  print(idx2word[j])

Label: politics
Text: Observers to monitor UK election
Top 5 terms:
registration
electoral
observers
election
fraud